<launch>
    <!-- Set up the bridge to the simulator -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Robot control nodes (Python2) -->
    <!-- <node pkg="swc_daniel" type="ControlNode.py" name="control_node" output="screen" required="true" /> -->
    <node pkg="swc_daniel" type="FusionNode.py" name="fusion_node" output="screen" required="true" />
    <!-- <node pkg="swc_daniel" type="obstacle_node.py" name="obstacle_node" output="screen" required="true" /> -->
</launch>